body {
    margin: 0;
    padding: 0;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  

@font-face {
    font-family:"Porter";
    src: url("../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff");
}

.heroSection {
    height: 100vh;
    position: relative;
    background-image: url("../assets/img/homePageHeader.png");
    background-size: cover;
    background-position: center;

}


#navBar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;

    top: 15px;
    left: 5%;

    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 50px;
    border-radius: 40px;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.748);
    z-index: 1000;
}

.navWords {
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: rgb(69, 69, 69);
    font-size: 25px;
    font-family: "poppins-medium", sans-serif;
    transition: color 0.3s;
}

.navWords:hover {
    color: #e51728;
}

#searchBar {
    padding-right: 75px;
    height: 55px;
    width: 25%;
}

.input-group-text {
    padding-left: 10px;
    padding-right: 5px;
    border: none;
    background: #fff;
}

.form-control {
    border: none;
    color: #e51728;
}

.fa-solid {
    color: rgb(90, 90, 90);
    padding-right: 10px;
    padding-left: 10px;
}

.fa-magnifying-glass {
    transform: scale(1.25);
    max-width: 2%;
}

.fa-basket-shopping {
    transform: scale(1.5);
    margin-right: 2%;
    max-width: 2%;
}

.fa-grip-lines-vertical{
    transform: scale(1.2);
    max-width: 5%;
}

.input-group {
    position: relative;
}

.notification-circle { /*not sure how to make this a circle*/
    position: absolute;
    top: -5px;    
    right: -20px;  
    width: 30px; 
    height: 30px; 
    background-color: red;  
    color: white; 
    border-radius: 50%;
    font-size: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.heroSection-heading {
    display: flex;
    flex-direction: column;
    position: absolute;

    bottom: 5%;
    left: 5%;
    
    font-family: "Porter",sans-serif;
    font-size: 1px;
    color: #e51728;
}

#current-page {
    color: #e51728;
    font-weight: bold;
}

#primary-heading {
    font-size: 70px;
    font-weight: bold;
}

#secondary-heading {
    font-family: fantasy;
    color: #45016d;
    font-size: 48px;
}

.carousel-area {
    height: 100vh;
    background-color: #45016d;


    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    max-width: 609px;
    max-height: 649px;
}

#carouselExample {
    width: 609px;
    height: 649px;
}

#featuredText {
    color: rgb(0, 231, 231);
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}

.whiteHeading {
    color: white;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding-bottom: 40px;
}

.carouselTextArea {
    padding-left: 5%;
    max-width: 609px;
}

.whiteParagraph {
    color: white;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
}

.red-button {
    background-color: #e51728;
    color: white;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    height: 70px;
    width: 270px;
    font-size: 20px;
    border-radius: 12px;
}

.shuttles-section {
    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: center;
    
    height: 75vh;
    background-color: white;

}

.shuttlesTextArea {
    max-height: 477px;
    max-width: 609px;
}

#shuttleH1 {
    color: #45016d;
    font-size: 55px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    padding-bottom: 40px;
}

#shuttleImg {
    margin-left: 75px;
}

.upcomingTrips {
    height: 100vh;
    background-color: #45016d;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-card .card-title {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;

}

.custom-card .card-text {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

#tripsBtn {
    margin-top: 250px;
}

.custom-card {
    border-radius: 30px;
    margin-left: 50px;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.shuttleCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.contactHeader {
    height: 45vh;
    position: relative;
    background-image: url("../assets/img/headerbackBack.png");
    background-size: cover;
    background-position: center;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactHeading {
    font-family: "Porter",sans-serif;
    font-size: 70px;
    color: #ffffff;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
    gap: 50px;
    background-color: white;
    flex-wrap: wrap; 
}

.aboutSection img {
    width: 500px;
    max-width: 100%;
    border-radius: 20px;
    padding-left: 20px;
}

.aboutSection h2 {
    color: #e51728;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Poppins",sans-serif;
}

.aboutSection #primary-heading {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
}

.shuttleParagraph {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
    font-family: "Poppins", sans-serif;
}

.miscSection {
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.socialMediaIcons {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.socialMediaIcons img {
    max-height: 90px;
    padding-left: 10px;
}

.map-container {
    height: 534px;
    width: 607px;
}


.contactForm {
    height: 708px;
    width: 547px;
    background-image: url("../assets/img/formBack.png");
    
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

.custom-form {
    color: white; 
}

.custom-form .form-control {
    background-color: white;
    color: black; 
}

.custom-form .form-control::placeholder {
    color: gray; 
}

.contactForm h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
}


.selection {
    height: 10vh;
    background-color: #45016d;
    font-family: "Poppins",sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selection .left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.selection .right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.selection i {
    color: white;
    margin-right: 5px; 
}

.selection p {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
}

.box {
    height: 5vh;
    width: 4vh;
    border-radius: 12px;
    background-color: #ebc8ff;
    color: #45016d;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box#long  {
    width: 6vh;
}

#burger{
    color: #e51728;
}

.flightCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: none; 
    box-shadow: none; 
    background-color: transparent;
}


.whiteCards #whitebg .card-title {
    font-family: "Poppins",sans-serif;
    font-size: 48px;
    color: #000000;
    font-weight: bold;
    margin-left: 50px;
}

.whiteCards #whitebg .price-section {
    margin-bottom: 15px;
    color: grey;
    font-size: 25px;
    font-family: "Poppins",sans-serif;
    margin-left: 50px;
    padding-top: 50px;
    
}

.starReview {
    color: gold;
    font-size: 48px;
    margin-left: 50px;
    padding-left: 0;

}

#reviewCount {
    color: grey;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 25px;
}

#whitebg {
    color: #000000;
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    margin-left: 50px;
}

#purpleBtn {
    background-color: #45016d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.desc  p{
    color: gray;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

#purpbg {
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-size: 30px;
    margin-left: 50px;
}

#bluebtn {
    background-color: #00bfff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.purpleCards {
    background-color: #45016d;
    padding-top: 50px;
    padding-bottom: 25px;
}

.purpleCards #purpbg .card-title {
    font-family: "Poppins",sans-serif;
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 50px;
}

.purpleCards #purpbg .price-section {
    margin-bottom: 15px;
    color: #00bfff;
    font-size: 25px;
    font-family: "Poppins",sans-serif;
    margin-left: 50px;
    
}

.history-area {
    height: 75vh;
    background-color: #ffffff;


    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: center;
}

.aboutUs-area {
    height: 75vh;
    background-color: #45016d;

    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: center;
}

.aboutUsTextArea {
    padding-left: 5%;
    max-width: 85%;
}

